@{
    ViewData["Title"] = "Home Page";
}

<form method="post" >

    <input type="text" asp-form="AccountNumber" placeholder="Enter your name" />
    <input type="text" asp-form="Pin" placeholder="Enter your pin" />
    <button class="btn btn-primary" type="submit">Update</button>
</form>